.card-img{
    max-width:400px;
    max-height:500px;
    width: 500px;
    height: 700px;
}

.card-img-top{
    width:  150px;
    heigth: 100px;

}

.btn {
    background-color: #fff159;
    color:rgb(12, 25, 68)
}

