<div class="principal container-fluid">
  <div class="row d-flex justify-content align-items-center">
  
    <div class="container p-3">
      <div class="row mt-2">
        <div
          class="col-md-8 col-12 mx-auto d-flex justify-content-center border w-100 shadow"
        >
          <img
            class="img-fluid"
            src="{{ produto.imagem}}"
            alt="Imagem do produto"
          />
        </div>
    
        <div class="col-md-4 col-12 pl-md-2 px-0">
          <div class="bg-white shadow w-100 p-5 border">
            <h3>
              Informações do produto
              <br /><br />
             </h3>
            <br />
            <p class="">{{ produto.nome }}</p>
            <div>
              <small class="text-muted">Categoria: </small
              >{{ produto.categoria }}
            </div>
            <small class="text-muted">Marca: {{ produto.marca }}</small>
          </div>
    
          <div class="p-2 mt-3">
            <button
            (click)="escanear()"
              class="btn btn-lg  w-100 shadow p-2"
              role="button"
            >
              Escanear
            </button>
          </div>
          <div class="p-2">
           
          </div>
        </div>
      </div>
    </div>

              
           
  </div>
</div>
