<section class="principal container p-3">
  <main class="main">
    <section class="breadcrubs p-5">
      <h3 class="text-center">
        Leia o QR Code ou pesquise pelo ID do produto na barra de pesquisa
      </h3>
    </section>

    <div
      class="row mt-15 mb-15 mx-auto d-flex justify-content-center border w-95 h-95 shadow p-4"
    >
      <div>
        <p class="text-center mb-4 p-3 font-weight-bold">QR Code do produto</p>

        <img
          width="400"
          height="400"
          src="assets/img/qrcode.png"
          alt="Imagem de QR Code"
        />

        <div class="d-flex justify-content-center">
          <div class="row p-3">
            <div class="col-md-10">
              <div class="search w-100">
                <form class="form-inline input-search">
                  <div class="input-icon">
                    <input
                      type="search"
                      placeholder="Pesquise os produtos"
                      name="idProduto"
                     [(ngModel)]='idProduto'
                    />
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <button class="btn" type="submit" (click)="findProduto()">
                Enviar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
