<nav class="navbar navbar-light header">
  <a href="#" class="link-logo">
    <div class="nav-logo"></div>
  </a>
  <div class="search">
    <form class="form-inline input-search">
      <div class="input-icon">
        <input type="search" width="120" height="100" class="form-control mr-sm-2 text-center" placeholder="Estou buscando…" aria-label="Digite o que voce quer encontrar">
      </div>
    </form>
  </div> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

