<div class="container m-5">
    <div class="row d-flex justify-content-center align-content-center mt-5">
        <div class="col-md-4 p-2">

            <div class="p-0 d-flex align-content-center justify-content-center">
                <img class="img-fluid shadow "
                    src="https://timeline.canaltech.com.br/346653.700/mercado-livre-nao-cobra-taxa-produtos-primeira-necessidade-covid-19-161999.jpg"
                    alt="">
            </div>

        </div>
        <div class="col-md-4 m-2">
            <div class="pl-2 width-100">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Categoria</th>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Nome</th>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Marca</th>
                            <td>Larry</td>

                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>Larry</td>

                        </tr>
                        <tr>
                            <th scope="row">Desrição</th>
                            <td><textarea></textarea></td>

                        </tr>
                        <tr>
                            <th scope="row">Marca</th>
                            <td>Larry</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-content-center mt-5">
        <div class="col-md-4 p-2">

            <div class="p-0 d-flex align-content-center justify-content-center">
                <img class="img-fluid shadow "
                    src="https://timeline.canaltech.com.br/346653.700/mercado-livre-nao-cobra-taxa-produtos-primeira-necessidade-covid-19-161999.jpg"
                    alt="">
            </div>

        </div>
        <div class="col-md-4 m-2">
            <div class="pl-2 width-100">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Categoria</th>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Nome</th>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Marca</th>
                            <td>Larry</td>

                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>Larry</td>

                        </tr>
                        <tr>
                            <th scope="row">Desrição</th>
                            <td><textarea></textarea></td>

                        </tr>
                        <tr>
                            <th scope="row">Marca</th>
                            <td>Larry</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>