<div class="principal container-fluid col-md-8">
    <div class="row d-flex justify-content align-items-center">

        <div class="container p-3">
            <div class="row mt-2">
                <div class="col-md-8 col-12 mx-auto d-flex justify-content-center border w-100 shadow">
                    <img class="img-fluid" src="{{ produto.imagem }}" alt="Imagem do produto"  />
                </div>

                <div class="col-md-4 col-12 pl-md-2 px-0">
                    <div class="bg-white shadow w-100 p-5 border">
                        <h3>
                            Informações do produto
                            <br /><br />
                        </h3>
                        <br />
                        <p class="">{{ produto.nome }}</p>
                        <div>
                            <small class="text-muted">ID: </small> {{ produto.id }}
                        </div>
                        <div>
                            <small class="text-muted">Categoria: </small>{{ produto.categoria }}
                        </div>
                        <div>
                            <small class="text-muted">Marca: </small> {{ produto.marca }}
                        </div>
                        <div>
                            <small class="text-muted"> </small> 
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row d-flex justify-content align-items-center">

        <div class="container p-3">
            <div class="row mt-2">
                <div class="col-md-8 col-12 mx-auto d-flex justify-content-center border w-100 shadow">
                    <img class="img-fluid" src="{{ produto.status.urlImagem }}" alt="Imagem do produto" />
                </div>

                <div class="col-md-4 col-12 pl-md-2 px-0">
                    <div class="bg-white shadow w-100 p-5 border">
                        <h3>
                            Status do produto
                            <br /><br />
                        </h3>
                        <br />
                        <p class="">{{ produto.nome }}</p>
                        <div>
                            <small class="text-muted">Descricao: </small>{{ produto.status.descricao }}
                        </div>
                        <div>
                            <small class="text-muted">Destino: </small> {{ produto.status.destino }}
                        </div>
                        <div>
                            <small class="text-muted">Status: </small> {{ produto.status.estatus }}
                        </div>
                        <div>
                            <small class="text-muted">Data: </small> {{ produto.status.data }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>